*{
    margin:0px;
    padding:0px;
    
}
/* CSS Variable */
:root{
    --navbar-height:59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}
/* Navigation Bar: Logo and Image*/
#logo{
    margin:5px 10px;
}
#logo img{
    height:100px;
    margin:5px 6px;
}
/* Navigation Bar: List Styling*/
#navbar{
    position: relative;
}
#navbar ul{
    display:flex;
}
#navbar::before{
    content: "";
    background-color: rgb(77, 68, 68);
    position: absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity: 0.7;   
}
#navbar ul li{
    color:white;
    list-style: none;
}
#navbar ul li a{
    display: block;
    color:white;
    padding: 3px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-style:inherit
}
#navbar ul li a:hover{
    color:red;
    background-color: white;
}
/* Home Section*/
#home{
    display:flex;
    flex-direction: column;
    padding:3px 200px;
    height:400px;
    justify-content: center;
    align-items: center;
} 
#home::before{
    content: "";
    background: url('spoon.jpg') no-repeat center center/cover;
    position: absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity: 0.9; 
      
}

.h-primary{
    font-size: 1.8rem;
    padding: 15px;
    color:white;
}
p{
    font-size:16px;
    color:white;
    text-align: center;
}
.btn{
    padding:6px 20px;
    border:2px solid white;
    background-color: rgb(237, 154, 154);
    margin:25px 25px;
    cursor:pointer;
    border-radius:9px;
}
.btn:hover{
    background-color:rgb(50, 219, 50);
    color:rgb(15, 15, 158);
}
/* .h-secondary-center{
    font-size:2.8rem;
    padding:12px;
} */

/*services section*/
.services-container{
    color:rgb(244, 237, 22);
    text-align: center;
    margin:150px;
    font-size: 1.5rem;
    
}
.h1-class{
    color:rgb(8, 141, 224);
}
#services{
    display:flex;
    margin:34px;
}
 #services .box img{
    height:180px;
    width:250px;
    margin:auto;
    display:block;
    border-radius: 23px;
} 
#services .box p{
        color:black;
    }
.box{
    border:2px solid red;
    margin:10px;
    border-radius: 23px;
    background-color: rgb(236, 138, 138);
}
.topserv{
    background:url('bread.jpg')no-repeat center center/cover;
    height:100vh;
    width:100vw;
}

